body {
	background: #383838;
	font-family: 'Open sans',sans-serif;
}
html,
#allmap {
	width: 850px;
	height: 640px;
	position:fixed ;
	overflow: hidden;
	/*margin: auto;*/
	padding: 40px;
	font-family:"微软雅黑";
	bottom: 125px;
	left:35px;
}

#head{
	font-weight: 700;
	line-height: 46px;
	font-size: 36px;
	left: 570px;
	color: white;
	position:fixed; ;
	bottom:880px;
}

.BMap_cpyCtrl
{
	display:none;
}
.anchorBL{
	display:none;
}

#rectangle{
	left: 40px;
	position:fixed ;
	bottom:900px;
	width:1800px;
	height:60px;
	background:gray;
	background-color:rgba(96,96,96,0.5);
}

#predict_button {
	left: 1050px;
	position:fixed;
	bottom:640px;
	width:260px;
}

#lnglat{
    width:100%;
    border:2px solid #aaa;
    border-radius:4px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
  }

#roadname{
    width:100%;
    border:2px solid #aaa;
    border-radius:4px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
  }

#predict_horizon{
    width:100%;
    border:2px solid #aaa;
    border-radius:4px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
  }

#submit {
  border: 0px;
  outline: 0px;
  color: #fff;
  background-color: #21c245;
  text-transform: uppercase;
  font-family: 'Open sans',sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 5px auto;
  display: block;
  cursor: pointer;
  transition: all 0.3s linear 0s;
}

#submit:active {
  animation: btn-animation 0.2s linear 0s alternate 2;
}

#submit:hover {
  background-color: #6ae710;
}
#location{
	font-weight: 700;
	line-height: 46px;
	font-size: 25px;
	left: 1050px;
	position:fixed ;
	bottom:780px;
	width:560px;
	height:70px;
	color: white;
}

#add1{
	font-weight: 700;
	line-height: 46px;
	font-size: 25px;
	left: 1400px;
	position:fixed ;
	bottom:770px;
	width:560px;
	height:70px;
	color: white;
}
#add2{
	font-weight: 700;
	line-height: 46px;
	font-size: 25px;
	left: 1400px;
	position:fixed ;
	bottom:710px;
	width:560px;
	height:70px;
	color: white;
}
#add3{
	font-weight: 700;
	line-height: 46px;
	font-size: 25px;
	left: 1400px;
	position:fixed ;
	bottom:650px;
	width:560px;
	height:70px;
	color: white;
}

#location2{
	font-weight: 700;
	line-height: 46px;
	font-size: 25px;
	left: 1240px;
	position:fixed ;
	bottom:80px;
	width:560px;
	height:70px;
	color: white;
}

#click1 {
	position: fixed;
	width: 100px;
	left: 480px;
	bottom:25px;

}

#click2 {
	position: fixed;
	width: 100px;
	left: 360px;
	bottom:25px;
}

#predict {
	position: fixed;
	width: 750px;
	height: 500px;
	left: 950px;
	bottom:-170px;
}

#f1 {
	position: fixed;
	width: 100px;
	left: 60px;
	bottom:35px;
}

#f2 {
	position: fixed;
	width: 100px;
	left: 180px;
	bottom:35px;
}

#l1 {
	position: fixed;
	width: 100px;
	left: 60px;
	bottom:43px;
	color: white;
}

#l2 {
	position: fixed;
	width: 100px;
	left: 180px;
	bottom:43px;
	color: white;
}
